.bodyRando{

    background-color: antiquewhite;
   
}
header{
    background-color: #87cefa;
}


h2 {

    
    animation-duration: 1s ;
    animation-name: slideH2;
    font-family: 'Exo 2', sans-serif;
    color: blue;
    margin-left: 10%;
    margin-top: 5%;
    
    
}

@keyframes slideH2 {
    
    from{
        margin-top: 10%;
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-top: 10%;
        margin-left: 10%;
        width: 300%;
        
    }
}

img{
    height: 350px;
    width: 400px;
    padding: 3px;
}

.superSection{
    display: flex;
    padding-left: 60px;
    padding-right: 120px;
    margin-top: 0%;
    
    
}

iframe {
    padding-left: 5px;
    height: 300px;
    width: 400px;
    
    
}
.imgScreen{
    height: 180px;
}

h3 {

color: green;
margin-top: 5%;
font-style: italic;
letter-spacing: 3px;
margin-bottom: 40px;
animation: txt-appearence 3s ease ; 
animation-fill-mode: forwards;
font-family: 'Exo 2', sans-serif;


}

@keyframes txt-appearence {
    
    0% { 
        
        translate: 10px;
        
    }
    
    100% {
        
        translate: 80px;
       
    }
}

p{
    text-align: center;
    color: green;
    font-family:  'Exo 2', sans-serif;
    letter-spacing: 2px;

}

.superSection2{
    
    padding-left: 60px;
    padding-right: 120px;
    margin-top: 0%;
}

.superSection3{
    padding-left: 60px;
    padding-right: 120px;
    margin-top: 0%;
}

.superSection4 {

    padding-left: 60px;
    padding-right: 120px;
    margin-top: 0%;
   
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    font-size: 2rem;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: 'Exo 2', sans-serif;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 4;
} 

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

header{
    font-family: 'Exo 2', sans-serif;
    text-transform: uppercase;
    background: #87CEFA;
    color: white;
}

li{
    font-size: 2rem;
}

a{
    color: white;
    text-decoration: none;
}

nav{
    min-height: 10vh;
    display: flex;
    align-items: center;
}

nav ul{
    display: flex;
    flex: 1 1 40rem;
    justify-content:space-between;
    align-items: center;
    list-style: none;
    margin-right: 20px;
}

#Titre{
    flex: 1 1 40rem;
    font-size: 2.6rem;
    margin-left: 20px;
}